[submodule "cm-finalproject"]
	path = cm/finalproject
	url = https://github.com/mdmourao/Shotop
[submodule "aw-finalproject"]
	path = aw/finalproject
	url = https://github.com/tomas-dias/aw-project
[submodule "idc-finalproject"]
	path = idc/finalproject
	url = https://github.com/tomas-dias/idc-project
